/*CUSTOM FONTS*/
@font-face {
    font-family: 'CodeProLight'; /*a name to be used later*/
    src: url('../fonts/Code Pro Family/Fontfabric - Code-Pro-Light.otf'); /*URL to font*/
}

@font-face{
	font-family: 'CodePro';
    src: url('../fonts/Code Pro Family/Fontfabric - Code-Pro.otf');
}

@font-face{
	font-family: 'CodePro';
    src: url('../fonts/Code Pro Family/Fontfabric - Code-Pro-Bold.otf');
    font-weight: bold;
}

@font-face{
	font-family: 'CodePro-LC';
    src: url('../fonts/Code Pro Family/Fontfabric - Code-Pro-LC.otf');
}

@font-face{
	font-family: 'CodePro-LC';
    src: url('../fonts/Code Pro Family/Fontfabric - Code-Pro-Bold-LC.otf');
    font-weight: bold;
}

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight: bold;
}

@font-face{
    font-family: 'OpenSans-Light';
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}

/*OTHER*/
body{
	margin: 0;
	font-size: 16px;
}

/*CONTAINER*/
.container{
	width: 1200px;
	margin: auto;

}
/*FIRST SECTION*/
#head{
	background: url(../img/Title.jpg) no-repeat center;
    padding: 80px 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#header-text{
	padding-top: 0;
	text-align: center;
	color: #d8d8d8;
}
 
.header h1:first-child{
	font-family: 'CodePro';
	color: #a3d22c;
	margin-top: 0;
	margin-bottom: 0;
    font-size: 190%;
}

.header h1:nth-child(2){
	line-height: 90%;
	font-weight: 400;
	font-family: 'CodeProLight';
	margin-top: 0;
    padding: 0px 45px;
	font-size: 700%;
	margin-bottom: 0;
	color: #ffffff;
}

.header p{
	font-family: OpenSans;
	font-size: 130%;
	margin:auto;
    padding: 0px 200px;

}

/*FORM SECTION*/
#form{
	background: url(../img/form_background.jpg) no-repeat center;
}

.form {
	padding-bottom: 20px;
	overflow: auto;
	margin: 0 175px;
}

.form img{
	float: left;
}

.form_content{
    text-align: center;
}

.form_content input{
	font-family: CodePro;
	padding-left: 10px;
	font-size: 15px;
	margin-top:10px;
	margin-right:30px;
	height: 35px;
	width:250px;
	background: transparent;
    border-radius: 0 10px;
	outline: none;
}

#form_text h2{
	font-family: CodePro-LC;
	padding-top: 30px;
	margin: 0 0 10px;
}

#form_text p:nth-child(2){
	font-family: OpenSans-Light; 
	margin: 0;
}

#form_text p:nth-child(3){
	font-family: OpenSans-Light;
	margin: 0 0 20px;
}

.form_left{
	float:left;
	width:290px;
}

.form_left p{
	font-family: OpenSans;
}

#form_button{
	cursor: pointer;
	background:#252525;
	color: #a3d22c;
	font-weight: bold;
}

#form_button:hover{
	background: rgba(37, 37, 37, 0.52);
}
/*NAVIGATION BAR SECTION*/
#navbar{
	background: #545459;
}

.menu{
	margin: 0 200px;+
}

.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #545459;
}

.menu li{
	float:left;
	border-left: 1px solid;
	border-color: #78797d;
}

.menu li:nth-last-child(1)
{
	border-right: 1px solid;
	border-color: #78797d;
}
.menu li a{
	font-family: CodePro-LC;
	line-height: 28px;
	width: 100px;
    height: 30px;
	display: block;
	color: #97D700;
	text-align: center;
	padding: 20px 75px;
	text-decoration: none;
}

.menu a:hover:not(.active){
	background: url(../img/button.jpg) repeat-x;
	color: #000000;
}

.menu li a.active {
    background: url(../img/button.jpg) repeat-x;
    color: #000000;
}

/*THIRD SECTION*/
#textbar{
	background: url(../img/textbarb.jpg)no-repeat center;
}

.text{
	font-family: OpenSans;
	margin: 0 70px 0 70px;
    padding: 20px 50px 20px 50px;
    color: #ffffff;
	text-align: center;
}

.text h1{
	font-family: CodePro;
    margin: 0;
}

.text p{
	margin: 0;
}
/*BOX SECTION*/
.box{
	padding: 38px 0;
	width: 50%;
    height: 400px;
	float: left;
}

.box h1{
	font-family: OpenSans;
	margin-bottom: 0;
}

.box p{
	margin: 0 17%;
	font-family: OpenSans;
	padding: 0 6%;
	color: #ffffff;
	font-size: 19px;
}

.box:first-child{
	background: url(../img/box1.jpg)no-repeat center;
	text-align: center;
}

.box:nth-child(2){
	background: url(../img/box2.jpg)no-repeat center;
	text-align: center;
}

.box:nth-child(3){
	background: url(../img/box3.jpg)no-repeat center;
	text-align: center;
}

.box:nth-child(4){
	background: url(../img/box4.jpg)no-repeat center;
	text-align: center;
}


/*FOOTER*/
.footer{
	background: url('../img/footer.jpg')no-repeat center;
	clear: both;
}

#f-text{
    padding: 40px 0;	
	text-align: center;
}

#f-text h1{
	font-family: CodePro;
	margin-top:0;
	color: #97D700;
}

#f-text ul{
	list-style: none;
    color: #ffffff;
    margin: 0;
}

#f-text ul li{
	display: inline;
}

#f-text ul li:first-child{
	border-right: 1px solid;
    padding-right: 30px;
}

#f-text ul li:nth-child(2){
	padding-left: 30px;
}

#f-text ul li a{
	font-family: OpenSans;
	text-decoration: none;
	color: #ffffff;
}

#f-text ul li a:hover{
	text-decoration: underline;
	color: #ffffff;
}