body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

iframe{
	border:0;
}

.container{
	max-width: 1180px;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}	

.header{
	background: #374043;
    text-align: center;
    padding-top: 25px;
}

#phone_number{
	float: right;
	text-decoration: none;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 15px;
}

#phone_number:hover{
	color: #83bd30;
}

#header_button{
	float: right;
	clear: both;
	height: auto;
	border-radius: 10px;
	background: #83bd30;
	cursor: pointer;
	border: 0;
    padding: 10px 25px;
    color: #ffffff;
    font-size: 13px;
    margin: 15px 0;
    font-weight: bold;
    outline: none;
}

#header_button:hover{
	background: #8dce31;
}

#header_button img{
	color: #ffffff;
}

.logo{
	float: left;
}

.numbutton{
	float: right;
}

.navbar{
	background: url('../img/navbg.jpg');
	text-align: center;
}


.menu{
    padding: 13px 0;
}

.menu ul{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.menu ul li{
	float: left;
	border-left: 1px solid;
    border-color: #ffffff;
}

.menu ul li:first-child{
	border-left: 0;
}

.menu ul li a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
    margin: 0 20px;
}

#firstnavelem{
	margin-left: 0;
}

.menu ul li a.active{
	color: #afed44;
}

.menu ul li a:hover:not(.active){
	color: #afed44;
}

.whitepaper{
	background: url('../img/whitepaper_bg.jpg');
    text-align: center;
}

.textwp{
	width: 60%;
    float: left;
}

.textwp h1{
	margin: 0;
	padding-top: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 45px;
	color: #ffffff;
	text-align: initial;
}

.textwp h1 span{
	color: #afed44;
}

.textwp p{
	float: left;
	font-weight: 600;
	color: #ffffff;
    font-size: 17px;
    text-align: initial;
}

.form_whitepaper{
	width: 30%;
	display: inline-block;
	background: #ffffff;
	color: #ffffff;
	margin: 20px 0;
	float: right;
}

.form_whitepaper h2{
	background: #2889ce;
	margin: 0;
	font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.form_whitepaper form input{
	width: 85%;
}

.form_whitepaper form select{ 
	color: #c3c3c3;
	outline: none;
	margin: 0;
	width: 100%;
	border: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 700;
	-webkit-appearance: none;
}

.form_whitepaper form input, select{
	margin: 5px;
}

.wpform{
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	border: 1px solid #eaeaea;
	width: 85%;
	height: 25px;	
	margin: 5px;
	padding-left: 15px;
	color: #c3c3c3;
}

.wpform:first-child{
	margin-top:20px;
}

label.wpform{
	width: 85%;
	padding-left: 15px;
}

label {
	position:relative
}

label:after {
    content: '▼';
    font: 15px "Raleway", sans-serif;
    color: #ffffff;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #2889ce;
    padding: 4px 6px;
    position:absolute;
    pointer-events:none;
}

.option{
	color: black;
}

#wp_button{
	padding: 10px;
	border-radius: 5px;
	background: #2889ce;
	cursor: pointer;
	border: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    outline: none;
}

#wp_button:hover{
	background: #25a2fb;
}

#mob_button{
	padding: 10px;
	border-radius: 10px;
	background: #2889ce;
	cursor: pointer;
	border: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    float: right;
    margin: 10px 0;
}

#mob_button2{
	padding: 10px;
	border-radius: 10px;
	background: #83bd30;
	cursor: pointer;
	border: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    float: left;
    margin: 10px 0;
}

#wp_button:before{
	content: '\f019';
	font-family: FontAwesome;
	font-size: 15px;
}

.mobilebuttons{
	background: #2a3133;
	display: none;
}

#phone_number2{
	display: none;
}

.arbor{
	background: #ffffff;
	text-align: center;
}

.arbor .container{
	    padding: 0;
}

.warbor{
	padding: 0 10px;
}

#readmore{
	margin-bottom: 60px;
}

.whitepapertext{
	display: none;
}

.warbor{
	text-align: initial;
}

.warbor h2{
	color: #94bb00;
}

.warbor h3{
	color: #94bb00;
}

.head2 h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 50px;
	margin: 35px 0;
}

.posts{
	display: inline-block;
	font-size: 15px;
}

.posts h3{
	font-weight: 800;
}

.left{
    width: 45%;
    float: left;
}

.right{
    width: 45%;
    float: right;
}

.right a{
    color: #94bb00;
}

.mobsarbor .fa {
    	font-size: 25px;
	}

.awards{
	background: url('../img/greysection.jpg');
	text-align: center;
}

.awardsboxcon{
	display: inline-block;
	width: 100%;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.awardsbox{
	background: #ffffff;
	width: 23%;
	height: 150px;
	float: left;
	margin: 1% 1% 1% 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.awardsh{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 50px;
	text-align: initial;
}

.awardsh h2{
	margin: 35px 0;
}

.industry{
	background: url('../img/industry_bg.jpg');
	text-align: center;
	color: #ffffff;
}

.industryh{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 50px;
	/*padding: 0 4%;*/
	padding:0;
	text-align: initial;
}

.industryh h2{
	margin: 4% 0;
}

.testiw{
	display: inline-block;
	width: 100%;
}

.testimonial{
	float: left;
    width: 33%;
    text-align: initial;
    font-size: 15px;
	padding: 0 4%;
	box-sizing: border-box;
}

.testimonial:first-child{
	padding: 0 4% 0 0;
}

.testimonial:nth-child(2){
	border-right: 1px solid;
	border-left: 1px solid;
}

.svideo{
	text-align: center;
	background: #ffffff;
}

.conheadvid{
	text-align: initial;
}

.headerv{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin: 22px 0 38px 0;
}

.headerv h2{
	margin: 0;
	font-size: 50px;
	text-align: initial;
}

.convideo{
	margin-bottom: 100px;
	display: inline-block;
}

.video{
	float: left;
}

#firstvid{
	padding-right: 100px;
}

.footer{
	background: #292929;
	text-align: center;
	color: #ffffff;
}

.wfooter{
	display: inline-block;
	padding: 2% 0;
}

.flogo{
	padding: 20px 2% 0 0;
	float: left;
	width: 10%;
}

.flogo img{
	max-width: 100%;
}

.copyright{
	float: left;
	display: inline-block;
}

.copyright p{
	padding-top: 25px;
	margin: 0;
}

.termspolicy{
	display: inline-block;
	float: left;
	padding-top: 25px;
}

.termspolicy ul{
	margin: 0;
	padding-left: 10px;
}

.termspolicy ul li{
	list-style: none;
	display: inline;
	border-right: 2px solid;
	padding: 0 10px 0 0;
}

.termspolicy ul li:last-child{
	border-right: 0;
	padding: 0 10px;
}

.termspolicy ul li a{
	text-decoration: none;
	color: #ffffff;
}

.termspolicy ul li a:hover{
	text-decoration: underline;
}

.social{
	display: inline-block;
	float: right;
	padding-top: 20px;
}

.social ul{
	margin: 0;
	padding: 0;
}

.social ul li{
	list-style:none;
	display: inline;
	font-size: 25px;
	padding: 0 10px;
}

.social ul li a{
	color: #94bb00;
}

.social ul li a:hover{
	color: #caff00;
}

.msocial{
	display: none;
}

.msocial ul li{
	list-style:none;
	display: inline;
	font-size: 25px;
	padding: 0 10px;
}

.msocial ul li a{
	color: #94bb00;
}

@media screen and (max-width: 1199px){

	.textwp{
		width: 55%;
	}
	
	.menu ul li a{
	    font-size: 17px;	
	}

	.whitepaper{
		height: auto;
		background-repeat: round;
	}

	.conheadvid{
		text-align: center;
	}

	.video{
		clear: both;
	}
}

@media screen and (max-width: 984px){
	.menu ul li a{
		font-size: 12px;
	}

	.bookbutton{
		display: inline-block;
	}

	/*#wpbook {
		float: left;
	}*/

	.form_whitepaper{
		width: 80%;
		float: none;
	}

	#wp_button{
		clear: both;
	}

	.textwp{
		width: 100%;
	}

	#wpbook{
		display: none;
	}

	#wpbook2{
		display: initial;
	}
}

#downloadlogo{
	display: none;

}

@media screen and (max-width: 771px){
	.menu ul li a{
		font-size: 11px;
	}

	.footer .container{
		padding: 0;
	}

	.wfooter{
		padding: 0 10px;
	}
}

@media screen and (max-width: 767px){
	#downloadlogo{
		display: initial;
		color: #ffffff;
	    float: right;
	    font-size: 30px;
	    cursor: pointer;
	}

	.heading img{
		margin-top: 0;
		width: 130px;
		height: auto;
	}

	.numbutton{
		display: none;
	}

	.navbar{
		display: none;
	}

	.textwp p{
		display: none;
	}

	.form_whitepaper{
		display: none;
	}

	#wpbookdiv{
		display: none;
	}

	#wp_button{
		background: #2889ce;
		float: none;
		display: none;
	}

	.mobilebuttons{
		display: block;
		background: #2a3133;
	}

	#phone_number2{
		display: block;
		float: left;
		text-decoration: none;
		color: #89bb3a;
		font-size: 20px;
		margin-top: 20px;
		font-weight: bold;
	}

	.textwp h1{
		font-size: 18px;
		margin: 0;
		text-align: center;
		clear: both;
		padding-top: 15px;
	}

	.whitepapertext{
		display: inline-block;
		font-size: 12px;
		padding: 0 10px;
	}

	.whitepapertext a{
		font-size: 14px;
		font-weight: 600;
		color: #94bb00;
	}

	.arbor .container{
		padding: 0;
	}

	.warbor {
    padding: 0;
	}

	.head2 h2{
		font-size: 25px;
		padding: 0 10px;
	}

	.posts{
		display: block;
	}

	.posts h3{
		font-size: 12px;
	}

	.posts p{
		display: none;
	}

	.posts a{
		display: none;
	}

	.right:last-child{
		display: none;
	}

	.mobsarbor{
		background: #f3f3f3;
		width: 100%;
		float: none;
		padding-left: 10px;
		height: 45px;
		box-sizing: border-box;
		line-height: 50px;
	}

	.mobsarbor h3:after{
		content: '\f0d7';
		font-family: 'FontAwesome';
		font-size: 30px;
		background: #9cc026;
		float: right;
		height: 45px;
		width: 8%;
		text-align: center;
		color: #ffffff;
		cursor: pointer;
	}

	.awards .container{
		padding: 0;
	}

	.awardsh h2{
		background: #ffffff;
		margin: 0;
		text-align: center;
		padding: 0 10px;
	}

	.awardsboxcon{
		padding: 0 10px;
	}

	.awardsbox{
		width: 44%;
		margin: 3%;
	}

	.industry .container{
		padding: 0 25px;
	}

	.testimonial{
		float: none;
		width: 100%;
		padding: 30px 0;
	}

	.testimonial:nth-child(2){
		border-right: 0;
		border-left: 0;
		border-top: 1px solid;
		border-bottom: 1px solid;
	}

	.industryh{
		font-size: 25px;
	}

	.headerv{
		margin: 15px 0 20px 0;
	}

	.headerv h2{
		font-size: 25px;
	}

	.conheadvid{
		text-align: center;
	}

	.convideo{
		width: 65%;
		padding: 0;
		margin-bottom: 35px;
	}

	.video{
		padding: 0;
	}

	#youtube{
		width: 100%;
		height: 155px;
	}

	#youtube2{
		width: 100%;
		height: 155px;
	}

	#firstvid {
    	padding-right: 0px;
	}

	.social{
		display: none;
	}

	.flogo{
		width: 20%;
	}

	.msocial{
		display: inline-block;
		float: right;
		padding-top: 20px;
	}

	.msocial ul{
		padding: 0;
		margin: 0;
	}

	.copyright{
		clear: both;
	}

	.copyright p{
		padding-top: 15px;
	}

	.termspolicy{
		padding: 0;
		clear: both;
	}

	.termspolicy ul{
		padding: 0;
	}
}

@media screen and (max-width: 464px){
	#mob_button{
		width: 45%;
		font-size: 12px;
	}

	#mob_button2{
		width: 45%;
		font-size: 12px;
	}

	.testimonial{
		padding: 0;
	}
}

@media screen and (max-width: 374px){
	.posts h3{
		font-size: 8px;
	}
}

::-webkit-input-placeholder {
   color: #cbcbcb;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cbcbcb;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cbcbcb;  
}

:-ms-input-placeholder {  
   color: #cbcbcb;  
}