@media only screen and (max-width: 1200px) {
.title-two { font-size: 24px !important; line-height: 28px !important; }
.home-slider ul li h2{ font-size: 60px !important; }
.about-box h4{ font-size: 14px; line-height: 16px; }
.tab-pane { text-align: center; }
.team-members{ padding-bottom: 350px; }
.customer-comments ul li { float: left; width: 33.33333%; }
.clientstwo{ max-width: 650px; }
.work-list ul li{ margin-bottom: 0;}
.social-box{ width: 140px; }
#nexta{ display: none !important; }
#preva{ display: none !important; }
.mobile-hide{padding-top:5% !important;}
.mobile-numbers{padding-left:25%;}
.view .mask{padding:15px;}
[class*="col-"]{padding-top:15px;padding-bottom:15px;}
.parallax-s{
    background-size: none;
    display: none;
}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
#menu ul li{margin-right:25px;}
/*.logo img{height:20px;}*/
}

@media only screen and (max-width: 991px) {
.menu-container {height:70px !important;width:100% !important;}
.nav-collapse.opened{max-height:9999px;}
.nav-toggle{position:absolute;top:15px;right:30px;width:40px;height:40px;text-indent:-9999px;overflow:hidden;display:block;background:url(../images/mobile-menu.png) no-repeat;}
.js .nav-collapse{max-height:0;position:absolute;display:block;overflow:hidden;}
#nav li a{font-size:11px !important;font-weight:600 !important;}
.menu-container li{float:none;width:100%;background-color:#fff;border-bottom:1px solid #f1f1f1;padding-left:25px;padding-bottom:10px;padding-top:10px;}
.contact ul{margin-left:40px;}
.contact ul li{margin-bottom:40px;}
#cnext{right:12px;}
#cprev{left:12px;}
#cnexttwo{right:0px;}
#cprevtwo{left:0px;}
.some-stats-in ul{margin-left:40px;}
.some-stats-in ul li{margin-bottom:20px;}
.big-tabs ul li{ padding: 0 30px; margin-bottom: 20px; }
.contact-box{ margin-bottom: 0 !important; }
.logo { line-height: 70px;}
#menu ul li a { padding: 10px; font-size: 11px !important;}
.menu { line-height: inherit;}
/*.isotope { position: inherit !important;}*/
}

@media only screen and (max-width: 767px) {
.meet-team .team-box{border-right:0;}
.more-details-box{padding:0;padding-left:10px;}
.customer-box{margin:0 !important;margin-top:-20px;}
.click-to-buy a{float:none;margin-top:-30px !important;}
.contact-form-style-1 ul li{float:none !important; width: 100% !important;}
.home-slider ul li h2{font-size:70px ;}
.social-box{ width: 100px; }
.slides li {line-height:100px;white-space: nowrap;}
.team-members ul li {width: 50%;}
.title-hire{line-height: 50px;}
.customer-comments ul li { float: left; width: 50%; }
.social_icon ul li {float: left;margin:0px 50px 20px 50px;}
}


/* Tablet Portrait size to Tablet Landscape (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.about-box-class{ float:left; width: 10% !important; }
.about-box-title{ float:left; width: 90% !important; }
.click-to-buy-text { text-align: center; }
.big-tabs ul li{ padding: 0 10px; margin-bottom: 20px; }
.portfolio-box li{margin-left:9%; /*position: inherit !important;*/}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
.about-box-class{ float:left; width: 10% !important; }
.about-box-title{ float:left; width: 90% !important; }
.click-to-buy-text { text-align: center; }	
.contact ul{margin-left:70px;}
.home-slider{margin-top:25%;}
.home-slider ul li h2{font-size:32px !important;}
.text-slider ul li h2{font-size:30px !important;}
.team-members ul li { width: 100% !important; }
.clientstwo{ max-width: 350px; }
.clientstwo ul li{  width: 30%; }
.social-box{ width: 150px;   margin-bottom: 20px; }
.big-tabs ul li{ padding: 0 10px; margin-bottom: 20px; }
.big-tabs ul li a{  font-size: 11px; }
.contact-box{ margin-bottom: 0 !important; }
.some-stats{margin: 0 auto; text-align: center;  margin: 0 auto; width: 180px; }
.l-more{ font-size: 12px !important; }
.title-hire{ font-size: 23px !important; line-height: 25px !important; }
.wrapper-div .col-xs-6{float:none;width:100% !important;}
.customer-comments ul li { float: left; width: 100%; }
.portfolio-filters ul{margin-left: 10px;}
.portfolio-filters ul li {margin-right: 10px;margin-bottom: 8px;}
.social_icon ul li {margin-left:28%;}
.featured-image-job img {width: 100% !important;}
.attachment-portfolio-image.wp-post-image {width: 100%;}
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    
    .quote-style {
    background-image:url(images/quote-styl1t.png) no-repeat;
    background-size: 26px 20px;
    }

    #cboxPrevious {
        background: url(../images/prjct-prev@2x.png) no-repeat;
        background-size: 59px 65px;
    }

    #cboxNext {
        background: url(../images/prjct-next@2x.png) no-repeat;
        background-size: 59px 65px;
    }

    #cboxClose {
        background: url(../images/prjct-close@2x.png) no-repeat;
        background-size: 36px 36px;
    }   
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2), @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (max--moz-device-pixel-ratio: 2) {
    .parallax-s {
        -webkit-background-size: 100% auto;
        background-attachment: scroll;
    }
}

@media all and (max-width:767px) {
    .home-slider ul li h2 {
        font-size: 2.5em !important;
    }
}

@media all and (max-width:360px) {
    .home-slider ul li h2 {
        font-size: 2.0em !important;
    }
}
